<!DOCTYPE html>
<html>


    <head>
        <meta charset="utf-8">
        <title>Template</title>
        <link href="./css/main.css"  rel="stylesheet">
    </head>


    <body>
        <header>
            <h2>Bananpaj</h2>
        </header>

        <nav class="nav">
            <div class="nav_text">
                <a>Startsida</a>
            </div>

            <div class="nav_text">
                <a>Recept</a>
            </div>
        </nav>

        <main>
            <div class="main_text">
                text
            </div>

            <div class="bildspel">
                bildspel
            </div>
        </main>

        <footer>
            <p>footer-information</p>
        </footer>

    </body>


</html>