<!DOCTYPE html>
<html>


    <head>
        <meta charset="utf-8">
        <title>Template</title>
        <link href="./css/main.css"  rel="stylesheet">
    </head>


    <body>
        <header>
            <h2>Bananpaj</h2>
        </header>

        <nav class="nav">
            <div class="nav_text">
                <a href="./template.html">Startsida</a>
            </div>

            <div class="nav_text">
                <a href="./template.html">Recept</a>
            </div>
        </nav>

        <main>
            <div class="main_text">
                <p>Proin quis finibus elit. Vivamus lobortis rutrum justo. Mauris eget neque dapibus, ullamcorper ligula nec, convallis arcu. 
                    Ut in luctus risus, at pulvinar nisi. Cras maximus, quam in vestibulum tempus, eros nisi ultrices leo, a vulputate nulla lorem vitae sapien.</p>
            </div>

            <div class="bildspel">
                bildspel
            </div>
        </main>

        <footer>
            <p>banan.paj@bananpaj.com</p>
        </footer>

    </body>


</html>